body{
    background-color: lavender;
    display: flex;
    flex-direction: column;
}
#submit{
    border-radius: 6px;
    padding: 4px;
    background-color: white;
    color: purple;
}
a{
    text-decoration: none;
    color: currentColor;
}
.container{
    background-color: rgb(238, 213, 255);
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px dotted darkslategrey;
    margin-top:50px;
}

.mt{
    margin-top:100px ;
}

.transparent{
    border: transparent;
    background-color: transparent;
}

.button-game{
    border-radius: 500px;
    padding: 15px;
    background-color: white;
    color: purple;
}
.button-mail{
    border-radius: 500px;
    padding: 15px;
    background-color: white;
    color: purple;
}

/* .second-page{
    visibility: hidden;
}
.first-page{
    visibility: hidden;
}
.active{
    visibility: visible;
} */


.row{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}